<header>
	<div class="logo"><a href="#" title="visit jon ward portfolio">Jon Ward Portfolio Site</a></div>
	<div class="site-info">
		<span class="title">Jon Ward</span>
		<span class="sub-title">Design Direction</span>
	</div>
	<nav class="main-nav">
		<ul>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>
</header>